*{margin: 0;
padding:0;}


body{ background-color: black;}


 .logomarca{
   background-color: black;
   text-align: center;


}

.imgem-logo{  
    width: 38%;



}


.principal{  
   color: white;
    text-align: center
}

h1{color: rgb(255, 255, 255);}

p{font-size: 32px;}

.lista{align-items:center;}

.carpin2{width: 50%;
padding:50px ;}